# maven ignore
target/
output/
dependency-reduced-pom.xml

# proto ignore
src/main/java/com/baidu/adu/common/proto

# log ignore
logs/

# *.jar
*.war
*.zip
*.tar
*.tar.gz
tree.txt

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

